<!DOCTYPE html>
<html>
  <head>
    <title>Shop Courier USA</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">
            <%= link_to image_tag(asset_path('logo.png', alt: "Courier USA"), class: "logo"), root_path %>
          </a>
        </div>
        <div class="collapse navbar-collapse" id="collapse">
          <ul class="nav navbar-nav pull-right hover-nav">
            <% if user_signed_in? && current_user.admin? %>
              <p class="navbar-text">Welcome <strong><%= current_user.email %>!</strong></p>
              <li><%= link_to "Manage Orders", orders_path, class: 'navbar-link' %></li>
              <li><%= link_to "Edit Profile", edit_user_registration_path, class: 'navbar-link' %></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'navbar-link' %></li>
            <% elsif user_signed_in? %>
              <p class="navbar-text">Welcome <strong><%= current_user.email %>!</strong></p>
              <li><%= link_to "My Orders", myorders_path, class: 'navbar-link' %></li>
              <li><%= link_to "Edit Profile", edit_user_registration_path, class: 'navbar-link' %></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'navbar-link' %></li>
            <% else %>
              <li><%= link_to "Sign Up", new_user_registration_path, class: 'navbar-link' %></li>
              <li><%= link_to "Sign In", new_user_session_path, class: 'navbar-link' %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="flash">
      <% if flash[:notice] %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:error] %>
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:error] %>
        </div>
      <% elsif flash[:alert] %>
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:alert] %>
        </div>
      <% end %>
    </div>
    
    <%= yield %>
    
  </body>
</html>
