<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'favicon.png' %>
    <title>Courier USA</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">
            <%= link_to image_tag(asset_path('logo.png', alt: "Courier USA"), class: "logo"), root_path %>
          </a>
        </div>
        <div class="collapse navbar-collapse" id="collapse">
          <ul class="nav navbar-nav pull-right hover-nav">
            <% if user_signed_in? && current_user.admin? %>
              <p class="navbar-text">Welcome <strong><%= current_user.email %>!</strong></p>
              <li><%= link_to "Manage Orders", orders_path, class: 'navbar-link' %></li>
              <li><%= link_to "Edit Profile", edit_user_registration_path, class: 'navbar-link' %></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'navbar-link' %></li>
            <% elsif user_signed_in? %>
              <p class="navbar-text">Welcome <strong><%= current_user.email %>!</strong></p>
              <li><%= link_to "My Orders", myorders_path, class: 'navbar-link' %></li>
              <li><%= link_to "Edit Profile", edit_user_registration_path, class: 'navbar-link' %></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'navbar-link' %></li>
            <% else %>
              <li><%= link_to "Sign Up", new_user_registration_path, class: 'navbar-link' %></li>
              <li><%= link_to "Sign In", new_user_session_path, class: 'navbar-link' %></li>
            <% end %>
            <li><%= link_to "Products", products_path, class: 'navbar-link' %></li>
            <li><%= link_to "How It Works", how_it_works_path, class: 'navbar-link '%></li>
            <li><%= link_to "Enterprise", enterprise_path, class: 'navbar-link'%></li>
            <li id="cart-text"><%= render "layouts/cart_text" %></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="flash">
      <% if flash[:notice] %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:error] %>
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:error] %>
        </div>
      <% elsif flash[:alert] %>
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:alert] %>
        </div>
      <% end %>
    </div>

    <script type="text/javascript">

    <% if current_order.order_items.size > 0 %>
      $(document).ready(function() {
        $(".cart-text").css("color", "#009688");
      })
    <% end %>
    </script>

    <%= yield %>

    <%#= render 'layouts/footer' %>
  </body>
</html>
