<div class="index-home">

  <div class="custom-banner-home">
    <p class="custom-banner-slogan text-center">Sign in to pay your shipping charges and receive your products!</p>
    <!-- <h3 class="text-center" style="font-weight:bold;">Featured Products</h3> -->
  </div>

  <!-- <div class="Modern-Slider">
    <div class="item">
      <div class="img-fill">
        <%= image_tag 'https://s3-us-west-2.amazonaws.com/shop-usa/wood-background.jpg' %>
        <div class="info">
          <div>
            <h3>Featured Products, Tailored For You</h3>
            <h5><%= link_to 'Browse Now', products_path, class: 'btn btn-primary btn-lg btn-cart' %></h5>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="img-fill">
        <%= image_tag 'https://s3-us-west-2.amazonaws.com/shop-usa/Google-Home-Slider.jpeg' %>
        <div class="info">
          <div>
            <h3>Google Home | $114</h3>
            <h5><%= link_to 'Buy Now', products_path, class: 'btn btn-primary btn-lg btn-cart' %></h5>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="img-fill">
        <%= image_tag 'https://s3-us-west-2.amazonaws.com/shop-usa/Dell-Inspiron-Laptop-Slider.jpeg' %>
        <div class="info">
          <div>
            <h3>Dell Black 15.6" Inspiron i3552 | $259</h3>
            <h5><%= link_to 'Buy Now', products_path, class: 'btn btn-primary btn-lg btn-cart' %></h5>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="img-fill">
        <%= image_tag 'https://s3-us-west-2.amazonaws.com/shop-usa/Due-Menti-Slider.jpeg' %>
        <div class="info">
          <div>
            <h3>Due Menti Sydney Collection - Giselle | $78</h3>
            <h5><%= link_to 'Buy Now', products_path, class: 'btn btn-primary btn-lg btn-cart' %></h5>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="img-fill">
        <%= image_tag 'https://s3-us-west-2.amazonaws.com/shop-usa/RE9-Advanced-Restorative-Slider.jpeg' %>
        <div class="info">
          <div>
            <h3>Arbonne Skin Care | $72</h3>
            <h5><%= link_to 'Buy Now', products_path, class: 'btn btn-primary btn-lg btn-cart' %></h5>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="img-fill">
        <%= image_tag 'https://s3-us-west-2.amazonaws.com/shop-usa/Spalding-Basketball-Slider.jpeg' %>
        <div class="info">
          <div>
            <h3>Spalding Basketball | $39</h3>
            <h5><%= link_to 'Buy Now', products_path, class: 'btn btn-primary btn-lg btn-cart' %></h5>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="img-fill">
        <%= image_tag 'https://s3-us-west-2.amazonaws.com/shop-usa/cover1.jpg' %>
        <div class="info">
          <div>
            <h3>Can't Find What You Need? Let Us Source It!</h3>
            <h5><%= link_to 'Source Now', products_path, class: 'btn btn-primary btn-lg btn-cart' %></h5>
          </div>
        </div>
      </div>
    </div>
  </div> -->


  <section>
    <div class="container selling-points">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="section-heading header-fnt">SOURCING PRODUCTS DIRECT TO YOU</h1>
        </div>
      </div>
      <hr class="selling-hr">
      <div class="row">
        <div class="col-md-4">
          <i class="fa fa-unlock fa-homee fa-4x" aria-hidden="true"></i>
          <p class="selling-point header-fnt">Unlock American Brands and Products</p>
        </div>
        <div class="col-md-4">
          <i class="fa fa-certificate fa-homee fa-4x" aria-hidden="true"></i>
          <p class="selling-point-mid header-fnt">Trusted and Certified Vendors</p>
        </div>
        <div class="col-md-4">
          <i class="fa fa-search fa-homee fa-4x" aria-hidden="true"></i>
          <p class="selling-point header-fnt">Inquire And Source Any Product</p>
        </div>
      </div>
    </div>
  </section>

  <aside class="image-bg-fixed-height">
    <div class="row">
      <div class="col-md-2">
        <%= image_tag 'target-logo.png', class: 'img-responsive logo-img' %>
      </div>
      <div class="col-md-2">
        <%= image_tag 'restorationhardware-logo.png', class: 'img-responsive logo-img' %>
      </div>
      <div class="col-md-2">
        <%= image_tag 'nike-logo.png', class: 'img-responsive logo-img' %>
      </div>
      <div class="col-md-2">
        <%= image_tag 'amazon-logo.png', class: 'img-responsive logo-img' %>
      </div>
      <div class="col-md-2">
        <%= image_tag 'lowes-logo.png', class: 'img-responsive logo-img' %>
      </div>
      <div class="col-md-2">
        <%= image_tag 'dell-logo.png', class: 'img-responsive logo-img' %>
      </div>
    </div>
  </aside>

  <section>
    <div class="container enterprise">
      <div class="row">
        <div class="col-md-8">
          <%= image_tag 'https://s3-us-west-2.amazonaws.com/shop-usa/enterprise1.png', class: 'img-responsive img-rounded img-home-enterprise' %>
        </div>
        <div class="col-md-4">
          <h1 class='header-fnt'>Enterprise Accounts</h1>
          <p class='sub-header-fnt'>Looking for help sourcing products or materials? Need dedicated account management? Contact us for more details!</p>
          <%#= link_to "Learn More", enterprise_path, class: 'btn btn-primary btn-lg btn-cart sub-header-fnt' %>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer-basic-centered">
    <p class="footer-company-motto"><strong>Shipment Disclaimer:</strong> Courier USA, LLC will not ship any illegal materials under any circumstance.</p>
    <p class="footer-company-motto"><strong>Privacy Policy:</strong> Courier USA, LLC will not share any private information with anyone that is unneccessary to fulfill our duties and obligations to our clients.</p>
    <p class="footer-company-motto"><strong>International Shipping:</strong> We reserve the right and obligation to inspect the contents of any package to ensure that there are no illegal contents.</p>
    <p class="footer-company-name">Courier USA LLC © 2017, All Rights Reserved</p>
  </footer>

</div>

<script type="text/javascript">
  setTimeout(function() {
    initSlider();
  }, 100);

  window.sr = ScrollReveal({ reset: true });

  sr.reveal('.fa-homee',
    {
      duration: 2200,
      origin: 'top',
      rotate: { x: 0, y: 90, z: 90},
      mobile: true,
    }
  );

  sr.reveal('.img-home-enterprise',
    {
      duration: 2200,
      origin: 'left',
      mobile: true,
    }
  );
</script>
