<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Description</th>
        <th>Shipping Charge</th>
        <th>Track Package</th>
        <th>Paid?</th>
        <th>Pay Charge</th>
      </tr>
    </thead>
    <tbody>
      <% @myorders.each do |order| %>
        <tr>
          <td><%= order.id %></td>
          <td><%= order.description %></td>
          <td>$ <%= order.shipping_charge %></td>
          <td><%= order.track_package %></td>
          <td><%= human_boolean(order.paid) %></td>
          <td><%= link_to "Pay", '#', class: 'btn btn-success' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>