<div class="well cart-item">
  <div class="row">
    <div class="col-xs-2">
      <div class="row">
        <h3 class="text-right"><%= product.name %></h3>
      </div>
      <div class="row">
        <h5 class="text-right"><%= number_to_currency(order_item.unit_price)%> ea.</h5>
      </div>
    </div>
    <div class="col-xs-4">
      <%= image_tag 'SUP.png', class: "thumbnail-cart" %>
    </div>
    <div class="col-xs-6">
      <%= form_for order_item, remote: true do |f| %>
        <div class="row">
          <div class="col-xs-2">
            <p class="pull-right quantity">Quantity</p>
          </div>
          <div class="col-xs-3">
            <%= f.number_field :quantity, value: order_item.quantity.to_i, class: "form-control quantity-input", min: 1 %>
            <%= f.hidden_field :product_id, value: product.id %>
          </div>
          <div class="col-xs-7 text-right">
            <div class="">
              <%= f.submit "Update Quantity", class: 'btn btn-cart' %>
              <%= link_to "Remove", order_item, { data: { confirm: "Are you sure you want to delete #{order_item.product.name} from your cart?"}, method: :delete, remote: true, class: "btn btn-danger"} %>
            </div>
          </div>
        </div>
        <h4 class="text-right">Total Price: <span style="color: #009688"><%= number_to_currency(order_item.total_price) %></span></h4>
      <% end %>
    </div>
  </div>
</div>
