<div class="">
  <p><strong>Hey Courier USA, you have a new product order!</strong></p>
  <p><strong>Order #<%=@message[:order_number] %></strong></p>
</div>

<div class="">
  <p><strong>Order Details:</strong></p>
  <% @message[:order_items].each do |oi| %>
    <strong><%= oi.product.name %></strong>
    <ul>
      <li>Price Paid: <%= number_to_currency(oi.product.price) %></li>
      <li>Quantity: <%= oi.quantity %></li>
    </ul>
    <br>
  <% end %>
</div>

<div class="">
  <p><strong>Shipping Details:</strong></p>
  <ul>
    <li>Name: <%= "#{@message[:name]}" %></li>
    <li>Email: <%= "#{@message[:email]}" %></li>
    <li>Shipping Address: <%= "#{@message[:shipping_line1]}" %></li>
    <li>Shipping City: <%= "#{@message[:shipping_city]}" %></li>
    <li>Shipping State: <%= "#{@message[:shipping_state]}" %></li>
    <li>Shipping Zip Code: <%= "#{@message[:shipping_zip]}" %></li>
    <li>Shipping Country: <%= "#{@message[:shipping_country]}" %></li>
  </ul>
</div>
